#leftBlock {
	float: left;
	border-right: 1px solid gray;
	height: 100%;
	padding: 15;
}

#mainBlock {
	float: left;
	padding-left: 25;
	max-width: 60%;	
}

.commentBlock {
	border: 1px solid gray; 
	width: 500px;
	padding: 5px;
}
